.calendar-container {
	width: 100%;
}

.calendar-day {
	width: 13.2%;
	height: 20%;
	border: 1px solid grey;
	display: inline-block;
}

.shaded {
	background-color: lightgrey;
}

p {
	margin: 0 0 5em 0;
}

form {
	display: block;
}

input {
	display: inline-block;
}