* {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.015em;
}

body {
	text-align: center;
}

.calendar-container {
	width: 100%;
}

.calendar-day {
	width: 13.2%;
	height: 20%;
	border: 1px solid grey;
	display: inline-block;
	text-align: left;
}

.shaded {
	background-color: lightgrey;
}

h1 {
	text-align: center;
	font-size: 3.5em;
}

.day {
	margin: 0 0 5em 0;
}

#credit {
	text-align: center;
	font-weight: bold;
}

form {
	display: block;
	margin-bottom: 1.5em;
}

input {
	font-size: 0.8em;
}

input {
	display: inline-block;
}